* {
    margin: 0;;
    box-sizing: border-box;
}

/*----------HEADER----------*/

.header {
    width: 100%;
    height: 100vh;
    background-image: url(img/header_bg.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__content {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content__text {
    text-align: center;
    color: #eff1f5;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-transform: uppercase;
}
.content__text--title {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 5px;
    color: white;
}

/*-----------ABOUT US----------*/

.about-us {
    width: 100%;
    height: 70vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.about-us__border {
    width: 50%;
    height: 60%;
    border: 2px solid #3c3c3c;
}
.about-us__title {
    background-color: white;
    position: absolute;
    width: 25%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    z-index: 2;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
    color: #3c3c3c;
}
.about-us__paragraph {
    position: absolute;
    top: 35%;
    width: 34%;
    height: 15%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #3c3c3c;
    text-align: center; 
}
.about-us__paragraph--second {
    position: absolute;
    bottom: 30%;
    width: 34%;
    height: 15%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #3c3c3c;
    text-align: center;
    line-height: 1.5; 
}

/*--------SERVICES---------*/
.services {
    width: 100%;
    height: 60vh;
    background-image: url(img/services_bg.png);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.services__title {
    position: absolute;
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 39%;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
    color: white;
}
.services__paragraph {
    position: absolute;
    top: 35%;
    width: 34%;
    height: 15%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    text-align: center; 
}

/*---------WHAT WE DO-------------*/
.whatwedo {
    width: 100%;
    height: 185vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.whatwedo__title{
    background-color: white;
    position: absolute;
    width: 25%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    z-index: 2;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
    color: #3c3c3c;
}
.whatwedo__content {
    border: 2px solid #3c3c3c;
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.whatwedo__element{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8%;
}
.element__title {
    text-align: center;
    color: #3c3c3c;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 5px;
    margin-top: 8%;

}
.element__text {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #3c3c3c;
    text-align: center; 
    margin-top: 8%;
    line-height: 1.5;
}

/*---------TABLE--------*/

.table {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 9px;
}
.table__photo {
    position: relative;
}
.table__photo > p {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.table__photo > img {
    width: 100%;
    height: 98%;
}

/*-----------CONTACTS-------*/

.contacts {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.contacts__title {
    background-color: white;
    position: absolute;
    width: 25%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
    z-index: 2;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
    color: #3c3c3c;
}
.contacts__content {
    border: 2px solid #3c3c3c;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.contacts__text {
    width: 60%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #3c3c3c;
    text-align: center; 
    line-height: 1.5;
    margin-bottom: 6%;
}
.contacts__button {
    width: 50%;
    height: 20%;
    background-color: #3c3c3c;
    margin-bottom: 5%;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.contacts__button:hover {
    transform: scale(1.1, 1.1);
    transition: .2s ease-in;
}
/*------FOOTER------*/

.footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3c3c3c;
}
.footer > img {
    width: 2%;
    height: 20%;
    margin-right: 2%;
}



